.Screen-page{
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
}
.signup-btn{
  margin-top: 20px;
}
.pollsbtn{
  margin-top: 20px;
  margin-bottom: 20px;
}
.edit{
  margin-left: 15px;
}
.poll-details{
  padding: 10px;
  margin-top: 30px ;
  display: flex;
  justify-content: center;
}
.polldata{
  max-width: 90%;
  height: 100%;
}