.Screen-page {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
}
.signup-btn {
  margin-top: 20px;
}
.pollsbtn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.edit {
  margin-left: 15px;
}
.poll-details {
  display: flex;
  justify-content: space-between;
}
.dashboard {
  align-items: center;
  text-align: center;
}
.poll-option {
  margin-left: 5px;
}
